{{- $store := page.Store -}}
{{- with (index ($store.Get "resource-css") "css/critical.css") }}
  <style>{{- .Content | safeCSS -}}</style>
{{- end }}
{{- with (index ($store.Get "resource-js") "js/critical.js") }}
  <script>{{- .Content | safeJS -}}</script>
{{- end }}
{{- range (index ($store.Get "preload-css")) }}
  <link rel="stylesheet" href="{{ index . "url" }}" integrity="{{ index . "integrity" }}" crossorigin>
{{- end -}}
